In [6]:
import pandas as pd

In [7]:
data_type = '60'

raw_data = pd.read_csv(f'data_{data_type}.csv')
meta_data = pd.read_csv(f'meta_data_{data_type}.csv')

meta_data = meta_data.set_index('name', drop=True)
meta_data

         v      f            t       mtt24       mtt48
name
t2     9.0  12.17  4303.286842  110.033445  112.685338
t8    10.5  12.18  4205.660441  133.444816  103.294893
t10   11.0  12.18  4077.611088  158.528428  100.000000
t18   13.0  12.18  2981.276405  176.923077   95.881384
t24   14.5  12.19  5696.197298  126.421405   78.418451
...    ...    ...          ...         ...         ...
t690  15.2  16.28  4593.940395  105.343512  215.126050
t692  12.8  17.40  4806.786452  154.770992  189.304813
t694  20.0  17.51  4674.817153   95.038168  247.669977
t696  18.8  18.11  4814.984353  131.583969  195.416348
t698  19.0  19.16  4585.223710  105.343512  172.880061

[274 rows x 5 columns]

In [8]:
data = raw_data[raw_data.index.isin(meta_data.index)]
data = data.sort_index(key=lambda x: x.str.extract('t(\d+)').astype(int)[0])
data

,0,1,2,3,4,5,6,7,8,9,...,8182,8183,8184,8185,8186,8187,8188,8189,8190,8191
t2,-35.280640,-94.751877,-476.839844,679.107178,7.019897,-503.870483,-392.714478,-391.028198,-407.514648,-12.465302,...,354.228516,870.886719,964.759766,379.164062,1312.802734,236.330078,1333.472656,1879.632812,1873.566406,1276.671875
t8,10.825165,184.833698,-665.689209,761.505615,-159.698669,-499.444458,-600.743774,-489.141357,-354.769531,-80.333038,...,568.746094,832.494141,768.576172,860.804688,1654.890625,138.292969,1317.308594,2110.328125,2114.328125,1614.691406
t10,140.333328,-17.000000,-300.333252,486.000000,-34.666687,274.333374,-345.000122,-300.333374,-147.333374,-93.333313,...,317.335938,835.011719,960.347656,346.029297,1655.507812,916.433594,1617.562500,1989.800781,2129.343750,1832.917969
t18,-27.459686,-54.361736,-237.947998,399.307373,-144.602417,117.212158,-262.594971,-295.937866,-360.457275,-181.203747,...,626.820312,455.722656,984.250000,571.138672,1198.527344,1065.597656,830.232422,1053.234375,1222.855469,1308.507812
t24,-15.333344,-211.000011,-87.333252,71.000000,-158.666687,-205.000000,-29.333374,-331.333374,-117.000000,-306.666668,...,-65.333984,372.333984,153.666016,353.000000,254.000000,433.666016,485.000000,717.667969,244.000000,-116.667969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
t690,-19.548859,-77.457764,-219.832397,481.043457,44.261566,-596.793457,-254.872864,-233.110962,-349.297546,-22.130783,...,157.472656,1356.613281,1158.886719,1045.039062,2403.142578,1724.328125,1477.095703,2526.390625,2053.386719,2945.058594
t692,10.696541,3.319611,-241.225586,477.169067,-58.277740,-472.492188,-255.610535,-125.038940,-311.306335,-8.114624,...,65.925781,1304.173828,1384.480469,926.421875,2276.361328,1829.308594,1681.154297,2759.722656,2611.457031,3459.328125
t694,56.064651,-82.990448,-299.872070,569.625488,40.941956,-537.778076,-337.494446,-182.578979,-254.872864,46.474640,...,881.847656,1420.222656,1355.570312,986.806641,3391.388672,1879.345703,1531.400391,2606.078125,2775.531250,3644.968750
t696,23.975014,-17.704651,-199.177002,529.594604,-60.859650,-516.385010,-361.100647,-153.808960,-320.527527,41.679634,...,789.179688,1704.205078,1408.316406,1037.166016,2963.677734,1768.308594,2056.619141,2873.292969,2456.906250,3935.246094
t698,20.286545,-68.236603,-276.265991,602.231934,-211.348969,-288.069031,-186.636292,-149.751648,-341.551758,61.597343,...,495.988281,1785.335938,1438.199219,1212.460938,3108.072266,1833.398438,2685.466797,3088.207031,2727.796875,4005.710938

In [9]:
data['v'] = meta_data['v']
data['f'] = meta_data['f']
label = meta_data['t']
mtt_label = meta_data[['mtt24', 'mtt48']]

In [10]:
data.to_csv(f'ml_ready_data_{data_type}.csv', index=False)
label.to_csv(f'temperature_labels_{data_type}.csv')
mtt_label.to_csv(f'mtt_labels_{data_type}.csv')